<div class="whisper-container">
    <div class="whisper-header">
        <a routerLink="/home" class="back-button">← Home</a>
        <h1>Whisper</h1>
        <p class="subtext">Upload any audio file and get it transcribed instantly!</p>
    </div>

    <div class="upload-section">
        <input type="file" (change)="onFileSelected($event)" accept=".mp3,.wav,.flac" class="file-input"
            [disabled]="isLoading" />
        <button (click)="transcribe()" [disabled]="!audioFile || isLoading" class="transcribe-button">
            {{ isLoading ? 'Transcribing...' : 'Transcribe' }}
        </button>
    </div>

    <div *ngIf="error" class="transcription-result-error">
        {{ error }}
    </div>

    <div *ngIf="transcription" class="transcription-result">
        <div>{{ transcription }}</div>
        <button (click)="createMOM(transcription)" 
                [disabled]="isCreatingMom" 
                class="transcribe-button-secondary">
            <span *ngIf="!isCreatingMom">Create Mom</span>
            <span *ngIf="isCreatingMom">
                Creating MOM Please wait...
            </span>
        </button>
    </div>
    <div *ngIf="trsanscribedMom" class="message user" [innerHTML]="parseMarkdown(trsanscribedMom)">
    </div>
</div>