<!-- navigation.component.html -->
<div class="projects-container">
    <h1 class="projects-title">Projects</h1>
    
    <div class="tiles-grid">
      <div class="tile blue">
        <a routerLink="/chat">
          <h2>AI Chat</h2>
        </a>
      </div>
      
      <div class="tile navy">
        <a routerLink="/aa-chat">
          <h2>Airline Assistant</h2>
        </a>
      </div>
      <div class="tile blue">
        <a routerLink="/hfwhisper">
          <h2>Hugging face Whisper</h2>
        </a>
      </div>

    </div>
  </div>
